/* default */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* product-cards */
.cards.product-cards {
  margin: 2rem 0;
}

.cards.product-cards > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards.product-cards > ul > li {
  background-color: #f3f3f3;
  padding: 20px;
  border: none;
}

.cards.product-cards > ul > li img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: unset;
}

.cards.product-cards .cards-card-body {
  margin: 1rem 0 0;
}

.cards.product-cards .cards-card-body p {
  margin: 0;
}

.cards.product-cards .cards-card-body p a {
  margin: 0;
  padding: 0 1rem;
  color: #57575a;
  font-size: 20px;
}

.cards.product-cards .cards-card-body p a:hover {
  text-decoration: underline;
}

@media (width >= 900px) {
  .cards.product-cards > ul > li img {
    max-width: 260px;
  }
}

/* product-detail-cards */
.cards.cards.product-details-cards {
  margin-top: 3rem;
}

.cards.product-details-cards ul {
  display: block;
}

.cards.product-details-cards > ul > li {
  border: none;
}

.cards.product-details-cards > ul > li img {
  border: 1px solid #d8d8d8 !important;
  border-radius: 20px 0 0 0;
  aspect-ratio: unset;
}

.cards.product-details-cards .cards-card-body {
  margin: 0;
}

.cards.product-details-cards .cards-card-body h6 {
  color: white;
  background: #e23534;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 3px 0 3px 10px;
  border-radius: 0 0 20px 0;
  margin-top: 10px;
}

.cards.product-details-cards .cards-card-body p {
  font-size: 16px;
  font-weight: 400;
}

.cards.product-details-cards .cards-card-body .button-container {
  margin: 0 0 0 7px;
  padding: 0;
  line-height: 1;
}

.cards.product-details-cards .cards-card-body .button-container a {
  margin: 0;
  padding: 0;
  font-weight: 900;
}