/* default */
.columns-container .columns-wrapper {
  margin-bottom: 2em;
}

.columns-container .columns-wrapper:last-of-type {
  margin-bottom: 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h2,
.columns h6 {
  margin: 1rem 0;
  color: var(--primary-brand-color);
}

.columns h2 {
  font-size: 25px;
}

.columns h6 {
  font-size: 16px;
}

.columns p {
  font-size: 16px;
  color: #959595;
  font-weight: 400;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns h2 {
    font-size: 50px;
  }

  .columns p {
    font-size: 24px;
  }
}

/* block variation - offset */
.columns.offset > div > div {
  flex: unset;
  width: 100%
}

.columns.offset > div > .columns-img-col {
  width: auto;
}

.columns.offset > div > .columns-img-col img {
  width: auto;
}

.columns.offset p {
  font-size: 20px;
  color: #4d4d4d;
  font-weight: 400;
}

@media (width <= 900px) {
  .columns.offset > div > .columns-img-col {
    display: flex;
    justify-content: center;
  }

  .columns.offset p {
    font-size: 16px;
  }
}

/* text alignment */
.columns.text-left {
  text-align: left;
}
.columns.text-center {
  text-align: center;
}
.columns.text-right {
  text-align: right;
}